.homescreen {
    max-width: 1300px;
    margin: 1rem auto;
}

.homescreen_title {
    font-size: 1.8rem;
    color: #171717;
    margin-bottom: 1rem;
    margin-left: 8px;
}

.product-filters {
    position: relative;
    margin: 10px;
    background-color: rgb(75, 75, 75);
    color: white;
    font-size: 15px;
    padding: 5px;
    width: 150px;
  } 
  
   .product-filters {
    background-color: palevioletred;
  }

.homescreen_products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
} 

.product-units{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1232px) {
    .homescreen_products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950) {
    .homescreen_products {
        grid-template-columns: (2, 1fr);
    }
}

@media (max-width: 630px) {
    .homescreen_products {
        grid-template-columns: repeat(1fr);
    }
}